<div>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnCurrentExtent" data-dojo-attach-event="click:onExtent">Get Current Extent</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnDrawExtent" data-dojo-attach-event="click:onDrawExtent">Draw Extent</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnClear" data-dojo-attach-event="click:onClear">Clear</button>

	<textarea name="currentExtent" id="currentExtent" cols="38" rows="23"></textarea>
</div>
